body {
  background: url("bg-image.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
  h1 {
    color:black;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
  }
  h1 span { 
    background-color: white; 
}